# Python Bytecode
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd

# Virtual Environment
venv/

# Django-specific
*.log
*.sqlite3
db.sqlite3
*.db
*.bak
*.swp

# PyCharm specific
.idea/

# VSCode specific
.vscode/

# Mac OS specific
.DS_Store

# Windows specific
Thumbs.db

# Logs directory
logs/
